///
/// Button
///

/* Block Style: Ghost
--------------------------------------------- */
.wp-block-button.is-style-ghost > .wp-block-button__link {
	color: currentColor;
	background-color: transparent;
	border: transparent;
	box-shadow: none;

	&:hover {
		background-color: color-mix(
			in srgb,
			var(--wp--preset--color--base) 50%,
			transparent
		);
		text-decoration: underline;
	}

	/* Section Styles
	--------------------------------------------- */
	/* [Brand-2]  */
	.is-style-section-brand-2 & {
		&:not(.has-background):hover {
			background-color: color-mix(
				in srgb,
				var(--wp--preset--color--brand) 50%,
				transparent
			);
		}
	}

	/* [Brand-3]  */
	.is-style-section-brand-3 & {
		&:not(.has-background):hover {
			background-color: color-mix(
				in srgb,
				var(--wp--preset--color--brand) 20%,
				transparent
			);
		}
	}

	/* [Brand-4]  */
	.is-style-section-brand-4 & {
		&:not(.has-background):hover {
			background-color: color-mix(
				in srgb,
				var(--wp--preset--color--brand) 5%,
				transparent
			);
		}
	}

	/* [Contrast-2]  */
	.is-style-section-contrast-2 & {
		&:not(.has-background):hover {
			background-color: color-mix(
				in srgb,
				var(--wp--preset--color--base) 5%,
				transparent
			);
		}
	}
}
