///
/// List
///

/* Block Style: Crossmark
--------------------------------------------- */
.wp-block-list.is-style-crossmark {
	list-style-type: "\2717";
	padding-inline-start: 3ch;
	& li {
		padding-inline-start: 1ch;
	}
}
