///
/// Paragraph
///

/* Block Style: Indicator
--------------------------------------------- */
p.is-style-indicator {
	padding-inline-start: var(--wp--preset--spacing--20);
	text-indent: -2px; /* adjust the space of the border */
	&::before {
		position: relative;
		content: "";
		border: 1px solid var(--wp--preset--color--brand-3);
		right: var(--wp--preset--spacing--20);
	}

	/* Section Styles
	--------------------------------------------- */

	/* [Brand-3] */
	.is-style-section-brand-3 & {
		&::before {
			border: 1px solid var(--wp--preset--color--brand-7);
		}
	}
}
