///
/// Variables
/// Breakpoints are inspired by https://github.com/WordPress/gutenberg/blob/trunk/packages/components/src/utils/breakpoint-values.js
///

//$huge: 1440px;
//$wide: 1280px;
$x-large: 1080px;
$large: 960px; // admin sidebar auto folds // Desktop
$medium: 600px; //782px; -> change to navigation break // Adminbar goes big. // Tablet
// $small: 600px;
$mobile: 480px;
// $zoomed-in: 280px;
