///
/// Global Defaults
///

/* Smooth transitions between pages */
@view-transition {
	navigation: auto;
}

/* Smooth scroll */
html {
	scroll-behavior: smooth;
}

body {
	font-variation-settings: "slnt" 0; /* Bug Fix: Variable font is displayed italic */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smooth: never;
}

code {
	font-size: 0.9rem;
	background-color: var(--wp--preset--color--base-3);
	padding: 0.05rem 0.5ch;
}
