///
/// Font Sizes
///

strong {
	font-weight: 600;
}

.has-xx-large-font-size {
	line-height: 1.3;
}

/**
 *  @link https://github.com/WordPress/gutenberg/issues/53146
 */
*[style*="text-decoration:none"] * {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
