///
/// Gallery
///

/* Block Style: Scale Effect
--------------------------------------------- */
.wp-block-gallery.is-style-scale-effect figure {
	transition: all 200ms ease-in-out;
	z-index: 1000;
	&:hover {
		transform: scale(1.1);
	}

	img {
		transition: all 200ms ease-in-out;

		&:hover {
			box-shadow: var(--wp--preset--shadow--x-large);
		}
	}
}
